# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives**:
- List popular languages in Data Science
- Common used libraries in Data Science
- Examples of Arithmetic expressions

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Keras

| Data Science Tools | 
|:--------:|
|  Pandas   | 
|  Spark   | 
|  MLFlow   |

### Below are a few examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers

In [31]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [38]:
200/60

3.3333333333333335

## Author: 
Alejandro Ibarra